{
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "max_line_length": 150,
  "printWidth": 150
}