<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CrunchPNG</title>

  <!-- use https://generator.jspm.io/ to figure out what scopes/imports to add -->
  <!-- then switch links to unpkg, because it works with WASM -->
  <script type="importmap">
    {
      "imports": {
        "@jsquash/oxipng": "https://unpkg.com/@jsquash/oxipng@1.0.0/index.js",
        "@jsquash/png": "https://unpkg.com/@jsquash/png@1.0.0/index.js",
        "p-limit": "https://unpkg.com/p-limit@4.0.0/index.js"
      },
      "scopes": {
        "https://unpkg.com/": {
          "wasm-feature-detect": "https://unpkg.com/wasm-feature-detect@1.5.1/dist/esm/index.js",
          "yocto-queue": "https://unpkg.com/yocto-queue@1.0.0/index.js"
        }
      }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="style.css">
  <script src="app.js" type="module"></script>
</head>
<body>
  <h1>Crunch PNG</h1>

  <form @submit.prevent="optimizeImages" class="col gap1">
    <input type="file" multiple accept="image/png" @change="handleFileInput" ref="fileInput">

    <template v-if="images.length > 0">
      <button type="submit">Optimize</button>

      <div class="row spaceEvenly">
        <label>{{ progress }}/{{ images.length }}</label>
        <progress :max="images.length" :value="progress"></progress>
      </div>
    </template>

    <img :src="'data:image/png;base64,'+latestFile" v-if="progress > 0 && progress !== images.length">

    <template v-if="images.length > 0 && progress === images.length">
      <span>Original Size: {{ originalSize }} bytes</span>

      <span>Optimized Size: {{ optimizeSize }} bytes</span>
      <span>{{ Math.round(optimizeSize / originalSize * 10000, 2)/100 }}% of the original</span>
    </template>
  </form>

  <div class="col">
    <span>todo</span>
    <ul>
      <li>zip input</li>
      <li>alpha optimizations (needs a different oxipng port)</li>
    </ul>
  </div>
</body>
</html>