:root {
  color-scheme: dark;
  background-color: #1c1c1c;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@100;300;500;700&display=swap');
body {
  font-family: 'Noto Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
code { font-size: inherit; font-family: 'Noto Sans Mono', monospace; }

/* layout utils */
h1, h2, h3, h4, h5, p, button, span, label, ::marker, svg, ul, a, input, textarea, sub, th, td { margin: 0; }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.row.centerChildren > *, .row > .centered { align-self: center; margin: auto 0px; }
.col.centerChildren > *, .col > .centered { align-self: center; margin: 0px auto; }
.spaceBetween { justify-content: space-between; }
.spaceAround { justify-content: space-around; }
.spaceEvenly { justify-content: space-evenly; }
.gap0 { gap: 0.25rem; }
.gap1 { gap: 0.5rem; }
.gap2 { gap: 1rem; }
.gap3 { gap: 1.5rem; }

/* dynamic content while we wait for Vue to load */
body:not(.vue-mounted) .hideUntilInit { display: none; }
body.vue-mounted .showUntilInit { display: none; }

/* misc */
.pixel { image-rendering: pixelated; }
#logo { width: 5rem; }
.big { font-size: 2rem; }

/* fileZone */
#fileZone {
  width: calc(100vw - 2rem);
  height: 10rem;
  border-radius: 1rem;
  background: rgba(255,255,255, 0.10);
  backdrop-filter: blur(.25rem);

  background-image: url('./images/upload.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  transition: background-size .25s ease-in-out;
}
#fileZone:hover { background-size: 4rem; }
#fileZone > .selectedText { position: fixed; bottom: 0.25rem; }
#fileInput { display: none; }

/* fancy garbage background */
:root:before, body:before {
  /* thing behind everything */
  content: "";
  position: fixed;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: calc(100vw + 4rem);
  height: calc(100vh + 4rem);
  /* grid of dots */
  background-image: radial-gradient(rgba(71, 71, 71, 0.195) .125rem, transparent 25%);
}
:root::before {
  background-size: 2rem 2rem;
}
body:before {
  background-size: 2rem 2rem;

  animation: scrollGrid 5s linear infinite;
  background-position: -.5rem;
}
@keyframes scrollGrid {
  from { transform: translate(0); }
  to { transform: translate(-4rem, -4rem); }
}