// dark!
:root {
  color-scheme: dark;
}
:root::before {
  content: ''; position: fixed;
  left: -2rem; right: -2rem;
  top: -2rem; bottom: -2rem;
  z-index: -1;

  background: radial-gradient(circle at center, #001010 20%, #004b4b);
  filter: url('~/assets/noise.svg#noise');
}

// font
body {
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// logical sizing
* { box-sizing: border-box; }

// no default margins
h1, h2, h3, h4, h5, h6, p, span, a, strong, em, blockquote, cite, q, abbr, del, ins, mark, sub, sup, code, pre, kbd, var, samp, ol, ul {
  margin: unset;
}

// make monospace not look tiny next to everything else
code { font-size: 1.3em; }
